<form [formGroup]="form" novalidate>
    <section class="dimensions">
        <app-grid-form formGroupName="grid"></app-grid-form>
    </section>
    <section class="section-form">
        <app-grid-template-form
            class="app-grid-template-form"
            formGroupName="gridTemplateColumns"
            [legend]="'Grid template columns'"
        ></app-grid-template-form>
        <app-grid-template-form
            class="app-grid-template-form"
            formGroupName="gridTemplateRows"
            [legend]="'Grid template rows'"
        ></app-grid-template-form>
    </section>
    <pre>
        gridGap.valid: {{ gridGap.valid }}
        gridGap.invalid: {{ gridGap.invalid }}
        gridGap.errors: {{ gridGap.errors | json }}


        gridColGap.valid: {{ gridColGap.valid }}
        gridColGap.invalid: {{ gridColGap.invalid }}
        gridColGap.errors: {{ gridColGap.errors | json }}
    </pre>
</form>

<ng-container
    *ngIf="{
        css: css$ | async,
        totalDivs: numDivs$ | async,
        numTemplateCells: numTemplateCells$ | async
    } as data"
>
    <div
        class="container"
        [style.--containerHeight]="data.css?.containerHeight"
        [style.--grid-gap]="data.css?.gridGap"
        [style.--grid-template-columns]="data.css?.gridTemplateColumns"
        [style.--grid-template-rows]="data.css?.gridTemplateRows"
        [style.--grid-auto-flow]="data.css?.gridAutoFlow"
        [style.--grid-auto-rows]="data.css?.gridAutoRows"
    >
        <div *ngFor="let x of data.totalDivs" class="css-row">
            {{ x | gridCellContent: data.numTemplateCells ?? 0 }}
        </div>
    </div>

    <p class="code-title">CSS Code</p>
    <div class="code">
        <p>{{ openCurly }}</p>
        <p>&nbsp;&nbsp;height: {{ data.css?.containerHeight }};</p>
        <p>&nbsp;&nbsp;display: grid;</p>
        <p>&nbsp;&nbsp;gap: {{ data.css?.gridGap }};</p>
        <p>
            &nbsp;&nbsp;grid-template-columns:
            {{ data.css?.gridTemplateColumns }};
        </p>
        <p>&nbsp;&nbsp;grid-template-rows: {{ data.css?.gridTemplateRows }};</p>
        <p>&nbsp;&nbsp;grid-auto-flow: {{ data.css?.gridAutoFlow }};</p>
        <p>&nbsp;&nbsp;grid-auto-row: {{ data.css?.gridAutoRows }};</p>
        <p>{{ closeCurly }}</p>
    </div>
</ng-container>
