:host {
    display: block;
    margin: 1rem;
    min-height: 100vh;
    border: 5px solid red;
}

$border-colour: #dcdcdc;

.container {
    display: grid;
    margin: 1rem 0;

    > * {
        border: 1px solid black;
    }
}

.code {
    border: 3px solid $border-colour;
    padding: 1rem;

    &-title {
        margin: 1rem 0;
        font-size: 1em;
        text-decoration: underline;
    }
}
