:host {
    display: block;
    margin: 1rem;
}

$border-colour: #dcdcdc;

.dimensions {
    mat-form-field {
        margin: 0 0.5rem;
    }
}

.section-form {
    display: flex;
    justify-content: space-between;
    app-grid-generator-form {
        flex: 0 0 49%;
    }
}

.container {
    --containerHeight: 60px;
    --grid-gap: 0;
    --grid-template-columns: auto;
    --grid-template-rows: auto;
    --grid-auto-flow: row;

    height: var(--containerHeight);
    display: grid;
    grid-gap: var(--grid-gap);
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);
    grid-auto-flow: var(--grid-auto-flow);
    margin: 1rem 0;

    > * {
        border: 1px solid black;
    }
}

.code {
    border: 3px solid $border-colour;
    padding: 1rem;

    &-title {
        margin: 1rem 0;
        font-size: 1em;
        text-decoration: underline;
    }
}

.css-row:nth-child(even) {
    background: #ccc;
}
.css-row:nth-child(odd) {
    background: chartreuse;
}

@media screen and (max-width: 600px) {
    .section-form {
        flex-direction: column;
        app-grid-generator-form {
            flex: 0 0 100%;
        }
    }
}
