<form [formGroup]="form" novalidate>
    <section class="dimensions"><app-grid-form formGroupName="grid"></app-grid-form></section>
    <section class="section-form">
        <app-grid-template-form class="app-grid-template-form"
            formGroupName="gridTemplateColumns"
            [legend]="'Grid template columns'"
        ></app-grid-template-form>
        <app-grid-template-form class="app-grid-template-form"
            formGroupName="gridTemplateRows"
            [legend]="'Grid template rows'"
        ></app-grid-template-form>
    </section>
</form>

<div class="container" #grid>
    <ng-container *ngIf="(numDivs$ | async) as totalDivs">
        <div *ngFor="let x of totalDivs" class="css-row">{{ x }}</div>
    </ng-container>
</div>

<p class="code-title">CSS Code</p>
<div class="code">
    <p>{{ openCurly }}</p>
    <p>&nbsp;&nbsp;height: {{ containerHeight }}</p>
    <p>&nbsp;&nbsp;display: grid;</p>
    <p>&nbsp;&nbsp;grid-gap: {{ gridGapCss }}</p>
    <p>&nbsp;&nbsp;grid-template-columns: {{ gridTemplateColumnsCss }}</p>
    <p>&nbsp;&nbsp;grid-template-rows: {{ gridTemplateRowsCss }}</p>
    <p>&nbsp;&nbsp;grid-auto-flow: {{ gridAutoFlow }}</p>
    <p>{{ closeCurly }}</p>
</div>
