<ng-container class="dimensions" [formGroup]="form">
    <mat-form-field>
        <input
            type="number"
            matInput
            placeholder="Height in pixel"
            [min]="60"
            formControlName="heightInPixel"
        />
    </mat-form-field>
    <mat-form-field>
        <input
            type="number"
            matInput
            placeholder="Number of divs"
            [min]="1"
            formControlName="numDivs"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Grid auto flow" formControlName="gridAutoFlow">
            <mat-option *ngFor="let flow of gridAutoFlowChoices" [value]="flow">
                {{ flow }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Gap Lengths:</mat-label>
        <mat-select formControlName="numGapLengths">
            <mat-option *ngFor="let value of gapLengths" [value]="value">
                {{ value }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <app-grid-value-field
        [formGroup]="form"
        [controlName]="'gap'"
        [unitControlName]="'gapUnit'"
        [unitList]="gapUnits"
        [placeholder]="'Grid gap'"
        [unitPlaceholder]="'Gap Unit'"
    ></app-grid-value-field>
    <app-grid-value-field
        *ngIf="numGapLengths.value === 2"
        [formGroup]="form"
        [controlName]="'gapCol'"
        [unitControlName]="'gapColUnit'"
        [unitList]="gapColUnits"
        [placeholder]="'Grid column gap'"
        [unitPlaceholder]="'Gap column Unit'"
    ></app-grid-value-field>
    <app-appgrid-auto-rows
        [formGroup]="form"
        [keywordControlConfig]="gridAutoRowsKeywordConfig"
        [unitControlConfig]="gridAutoRowsUnitConfig"
    ></app-appgrid-auto-rows>
</ng-container>
