$border-colour: #dcdcdc;

.settings {
    display: flex;
    flex-direction: column;
    border: 3px solid $border-colour;
    padding: 1rem;
    margin: 1rem 0;

    > * {
        margin-bottom: 1rem;
    }

    legend {
        margin-bottom: 0;
    }

    mat-radio-button {
        margin-right: 1rem;
    }

    .section-width {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0.25rem;
        margin-bottom: 0;

        > * {
            flex: 1 1 auto;
            padding: 0 0.5rem;
        }
    }
}
